/* src/app/globals.css */

:root {
  /* Paleta de Cores DoodleDreams */
  --doodle-yellow-mustard: #CCC27A;
  --doodle-blue-soft: #7A97CC;
  --doodle-purple-soft: #907ACC;
  --doodle-purple-light: #C8B8E2;
  --doodle-pink-pastel: #F6C5D5;
  --doodle-blue-sky: #A8D0E6;
  --doodle-green-pastel: #BFE6C3;
  --doodle-yellow-light: #FFF2B2;
  --doodle-beige-light: #F6EDE3;
  --doodle-dark-grey: #343A40;
  --doodle-light-text-on-dark: #C8B8E2;
  --doodle-input-border: #E0E0E0;
  --doodle-placeholder-text: #6C757D;
  --doodle-white: #FFFFFF;


  /* Variáveis para as fontes - preenchidas pelo next/font no layout.js */
  --font-mali-next: sans-serif; /* Fallback */
  --font-magnolia-next: serif; /* Fallback */
}



body {
  background-color: var(--doodle-background); /* Aplicando o novo fundo aqui */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

a, button {
    text-decoration: none;
    cursor: pointer;
}

/* Estilo de fundo específico para a página do catálogo */
body.catalog-background {
  background-image: 
    radial-gradient(var(--doodle-pink-pastel) 1px, transparent 1px),
    radial-gradient(var(--doodle-blue-sky) 1px, transparent 1px);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
  background-color: var(--doodle-page-bg);
  animation: move-confetti 60s linear infinite;
}

@keyframes move-confetti {
  from {
    background-position: 0 0, 25px 25px;
  }
  to {
    background-position: 500px 500px, 525px 525px;
  }
}
